<%- include('../partials/head') %>
    <%- include('../partials/navbar') %>


        <h1>Grade Average</h1>

        <ul>
            <% for (let student of data.class){ %>
                <li>
                    <u><%= student.name %></u>
                        <ul>
                            <% for (let subject in student.grades){ %>
                                <li>
                                    <b><%= subject %></b> : 
                                    <% if(student.grades[subject].length > 0){ %>
                                    <%= Math.round(student.grades[subject].reduce((a,b)=> a + b, 0) / student.grades[subject].length) %>
                                <% } %>
                                </li>
                                <% } %>
                        </ul>
                </li>
                <% } %>
        </ul>

        <%- include('../partials/foot') %>