<%- include('../partials/head') %>
<%- include('../partials/navbar') %>


<h1>Wellcome in the class</h1>

<ul>
    <% for (let student of data.class){ %>
        <li><a href="/grade/<%= student.name %>">
            <%= student.name %>
        </a></li>
    <% } %>
</ul>

<%- include('../partials/foot') %>