<%- include('../partials/head') %>
    <%- include('../partials/navbar') %>

        <form action="/grade/newgrade/" method="post">
            <section>
                <label for="name">Name: </label>
                <input type="text" name="name" id="student" placeholder="Nevil">
                <br>
                <label for="subject">Subject: </label>
                <select name="subject" id="subject">
                    <% let subjects=Object.keys(data.class[0].grades) %>
                        <% for (let subj of subjects) { %>
                            <option value="<%= subj %>">
                                <%= subj %>
                            </option>
                            <% } %>
                </select>
                <br>
                <label for="grade">Grade</label>
                <input id="grade" name="grade" type="number" max="5" min="1" value="1">
                <button type="submit">Send</button>
            </section>
        </form>



        <%- include('../partials/foot') %>